{% extends 'layout.html' %}

{% block body %}

    <h1>About us</h1>
    <hr class="bg-light">
    <p>This place is the home for many articles around the world where</p>
    <ul>
        <li>Anyone can create and publish an article</li>
        <li>Anyone can view article created by any others in this site</li>
        <li>Articles can be edited and deleted realtime by the creator</li>
    </ul>
    <p>Articles are realtime, styles can be added for best performance</p>
    <p>Has inbuilt editor to organise your article</p>
    <br><br><br>
    <div>
        <h2>Views</h2>
        <hr class="bg-light">
        <div>
            <h4>Dashboard</h4>
            <img src="{{ url_for('static',filename='images/dashboard.png') }}" alt="dashboard">
            <hr class="bg-light">
        </div>
        <div>
            <h4>View Article</h4>
            <img src="{{ url_for('static',filename='images/view_article.png') }}" alt="dashboard">
            <hr class="bg-light">
        </div>
        <div>
            <h4>Create Article</h4>
            <img src="{{ url_for('static',filename='images/create_article.png') }}" alt="dashboard">
            <hr class="bg-light">
        </div>
    </div>
    <br><br><br>

{% endblock  %}